html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em; }

h1,
h2,
h3,
p {
  margin: 0; }

h1,
h2,
h3 {
  font-size: 1.286em;
  font-weight: 700;
  line-height: 1.857em; }

a {
  text-decoration: none;
  cursor: pointer; }

.benefit {
  text-transform: uppercase; }

.benefit__inner {
  color: #000000;
  background-color: #ffffff; }
  .benefit__inner--theme-blue {
    color: #ffffff;
    background-color: #81b3d2; }
  .benefit__inner--theme-gray-lighten {
    color: #000000;
    background-color: #eeeeee; }

.benefit__text--text-gray {
  color: #333333; }

.btn {
  display: inline-block;
  padding: 21px 47px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.857em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2; }

.fedback-form__headline {
  text-transform: uppercase; }

.field-checkbox__name-text {
  font-size: 1.286em;
  line-height: 1.857em; }

.field-radio__headline {
  text-transform: uppercase; }

.field-radio__name-text {
  font-size: 1.286em;
  line-height: 1.857em; }

.field-text__name-text {
  line-height: 1.857em;
  text-transform: uppercase; }

.field-text__input::-webkit-input-placeholder {
  font-size: 1.286em;
  font-weight: 700;
  line-height: 1.857em; }

.field-text__input::-ms-input-placeholder {
  font-size: 1.286em;
  font-weight: 700;
  line-height: 1.857em; }

.field-text__input::placeholder {
  font-size: 1.286em;
  font-weight: 700;
  line-height: 1.857em; }

.foto__title {
  font-size: 14px;
  line-height: 1.714em;
  text-transform: uppercase; }

.foto__author {
  font-size: 14px;
  line-height: 1.714em; }

.foto__like {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.714em; }

.intro {
  text-transform: uppercase;
  background-color: #ffffff; }

.intro__text {
  line-height: 1.714em; }

.nav-list {
  font-size: 1.286em;
  font-weight: 700;
  line-height: 2.857em;
  text-transform: uppercase;
  background-color: #81b3d2; }

.nav-list__item {
  margin: 0;
  padding-left: 0;
  list-style: none; }

.nav-list__item a {
  color: #ffffff; }
  .nav-list__item a:visited {
    color: #ffffff; }

.page-footer {
  text-transform: uppercase;
  background-color: #fefefe; }

.page-footer__link-visitsedona {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.857em;
  color: #000000; }

.page-footer__text {
  line-height: 1.857em;
  color: #000000; }

.poupup {
  text-transform: uppercase;
  background-color: #ffffff; }

.poupup__text {
  line-height: 1.714em; }

.search {
  text-transform: uppercase;
  background-color: #ffffff; }

.search__caption {
  font-size: 1.5em;
  color: #000000; }

.search__text {
  line-height: 1.714em;
  color: #333333; }

.video {
  text-transform: uppercase; }

.video__text {
  line-height: 1.714em; }
