.benefit {
  text-transform: uppercase;
}

.benefit img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}


.benefit__inner {
  color: #000000;
  background-color: #ffffff;

  &--theme-blue {
    color: #ffffff;
    background-color: $color-main;
  }

  &--theme-gray-lighten {
    color: #000000;
    background-color: $gray--lighten;
  }
}

.benefit__inner-img-mob {
  height: 260px;
}

.benefit__text--text-gray {
  color: $gray--darken;
}

.benefit__inner-img-tab,
.benefit__inner-img-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .benefit {
    display: flex;
    flex-wrap: wrap;
  }

  .benefit__inner {
    flex-basis: 33.3333%;
  }

  .benefit__inner-img-mob {
    display: none;
  }

  .benefit__inner-img-tab {
    display: block;
    flex-basis: 66.6667%;
    height: 256px;
  }

  .benefit__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .benefit__wrap .benefit__inner {
    min-height: 330px;
  }
}
