.btn {
  display: inline-block;
  width: 100%;
  padding: 21px 45px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: $font-size--large;
  font-weight: 700;
  line-height: $line-height--large;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-main;
}
