.field-text {
  display: flex;
  flex-wrap: wrap;
}

.field-text:nth-child(5) {
  width: 280px;
  margin: 0 auto;
}

.field-text__headline {
  width: 100%;
}

.field-text__name {
  width: 100%;
}

.field-text__name-text {
  line-height: $line-height--large;
  text-transform: uppercase;
}

.field-text__input::placeholder {
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: $line-height--large;
}

@media (min-width: $tablet-width) and (max-width:$desktop-width) {
  .field-text:nth-child(5) {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .field-text:nth-child(5) {
    width: 960px;
  }
}
