.foto__title {
  font-size: $font-size--content;
  line-height: $line-height--larger;
  text-transform: uppercase;
}

.foto__author {
  font-size: $font-size--content;
  line-height: $line-height--larger;
}

.foto__like {
  font-size: $font-size--content;
  font-weight: 700;
  line-height: $line-height--larger;
}
