.foto {
  //background-color: $second-color;
  outline: 2px dotted red;
}

.foto__descr {
  outline: 2px dotted blue;
}

.foto__title {
  font-size: $font-size--content; //14px
  line-height: $line-height--larger; //24px
  text-transform: uppercase;
}

.foto__author {
  font-size: $font-size--content; //14px
  line-height: $line-height--larger; //24px
}

.foto__like {
  font-size: $font-size--content; //14px
  font-weight: $font-weight--bold;
  line-height: $line-height--larger; //24px
  //color: $third-color;
}
