.foto-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px 0 20px;
}

.foto-wrap .foto {
  padding: 0;
  outline: 2px dotted red;
}

@media (min-width: $tablet-width) {
  .foto-wrap{
    padding: 0 60px 0 60px;
  }
  .foto-wrap .foto{
    flex-basis: 50%;
  }
}

@media (min-width: $desktop-width) {
  .foto-wrap{
    padding: 0;
  }
  .foto-wrap .foto{
    flex-basis: 33.3333%;
  }
}

