.foto {
  margin: 0;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.foto__img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.foto__img > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.foto__title {
  font-size: $font-size--content;
  line-height: $line-height--larger;
  text-transform: uppercase;
}

.foto__author {
  font-size: $font-size--content;
  line-height: $line-height--larger;
}

.foto__like {
  font-size: $font-size--content;
  font-weight: 700;
  line-height: $line-height--larger;
}
