@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size--content;
  font-weight: 400;
  line-height: $line-height--content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: $line-height--large;
}

a {
  text-decoration: none;
  cursor: pointer;
}



.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .site-wrapper {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .site-wrapper {
    width: 1180px;
    box-shadow: -10px 0px 10px -5px #cccccc, 10px 0px 10px -5px #cccccc;
  }
}
