.main-nav {
  position: relative;
}

.main-nav__btn-close {
  position: absolute;
  right: 0;
  z-index: 5;

&--close {
 display: none;
}
}

@media (min-width: $tablet-width) {
  .main-nav__btn-close {
    display: none;
  }
}
