.nav-list {
  font-size: $font-size--larger;
  font-weight: $font-weight--bold;
  line-height: $line-height--x-large;
  text-transform: uppercase;
  background-color: $color-main;
  outline: 2px dotted orange;
}

.nav-list__item a {
  color: #ffffff;

  &:visited {
    color: #ffffff
  }
}
