.nav-list {
  position: relative;
  margin: 0;
  padding-left: 0;
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: $line-height--x-large;
  text-transform: uppercase;
}

.nav-list--close {
  display: none;
}

.nav-list__item {
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: $color-main;
}

.nav-list__item a {
  color: #ffffff;

  &:visited {
    color: #ffffff;
  }
}

.nav-list__item-logo-mob {
  display: block;
  margin: 0 auto;
}

.nav-list__item-logo-tab,
.nav-list__item-logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 25px;
    min-height: 56px;
    font-size: $font-size--content;
    line-height: $line-height--large;
  }

  .nav-list__item:nth-child(4n+2) {
    margin-right: 17.5vw;
  }

  .nav-list__item-logo-mob {
    display: none;
  }

  .nav-list__item-logo-tab {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }

  .nav-list__item a {
    color: #000000;

    &:visited {
      color: #000000;
    }
  }

  .nav-list__item {
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .nav-list__item-logo-tab {
    display: none;
  }

  .nav-list__item-logo-desktop {
    display: block;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -94px;
  }

}
