.page-footer {
  text-transform: uppercase;
  background-color: $gray--lightest;
  outline: 2px dotted red;
}

.page-footer__link-visitsedona {
  font-size: $font-size--large;
  font-weight: $font-weight--bold;
  line-height: $line-height--large; //26px
  color: #000000;
  outline: 2px dotted blue;
}

.page-footer__text {
  line-height: $line-height--large; //26px
  color: #000000;
}

.page-footer__copyright {
  outline: 2px dotted blue;
}
