.page-footer {
  text-transform: uppercase;
  background-color: $gray--lightest;
}

.page-footer__link-visitsedona {
  font-size: $font-size--large;
  font-weight: 700;
  line-height: $line-height--large;
  color: #000000;
}

.page-footer__text {
  line-height: $line-height--large;
  color: #000000;
}
