$color-main: #81b3d2;

$gray--lightest: #fefefe; //254
$gray--lighten: #eeeeee; //238
$gray--darken: #333333; //51

// ================

$font-family: "PT Sans",
"Arial",
sans-serif;

$font-size--content: 14px;
$font-size--larger: 1.286em; // больш // 18px;
$font-size--large: 1.500em; // большой // 21px;

$font-size--h1: 1.286em; //18px

$line-height--content: 1.500em; // контентный, стандартный // 21px
$line-height--larger: 1.714em; // больше // 24px
$line-height--large: 1.857em; // большой// 26px
$line-height--x-large: 2.857em; // очень большой // 40px
