$color-main: #81b3d2;

$gray--lightest: #fefefe; //254
$gray--lighten: #eeeeee; //238
$gray--darken: #333333; //51

// ================

$font-family: "PT Sans", "Arial", sans-serif;

$font-size--content: 14px;
$font-size--larger: 18px;
$font-size--large: 21px;

$font-size--h1: 18px;

$line-height--content: 21px;
$line-height--larger: 24px;
$line-height--large: 26px;
$line-height--x-large: 40px;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
